[Unit]
Description=tomcat daemon
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/opt/jdk1.8
Environment=JRE_HOME=/opt/jdk1.8/jre
ExecStart=/opt/tomcat/bin/catalina.sh start
ExecStop=/opt/tomcat/bin/catalina.sh stop
User=tomcat
Restart=on-abort

[Install]
WantedBy=multi-user.target
